
body {
    font-family: Arial;
}
.full {
    width: 10px;
    max-width: 10px;
    min-height: 10px;
    background-color: black;
    margin:0px;
    display: inline-grid;
    grid-template-columns: auto 1000px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.left {
    position: initial;
    background-color: grey;
    padding: 10px;
    text-align: left;
    justify-content: normal;
    border: 60px;
    font-size:1vw;
}
.right {
    position: initial;
    background-color: white;
    padding: 25px;
    justify-content: normal;
    text-align: center;
    border: 60px;
    font-size:1vw;
}
{
    .Image, .Contact, .Tech Stack, .Language, .Awards & Other Certificates, .Title, .Summary, .Experience, .Education, .Porject{margin-bottom: 30px;} 
}
.h2 {
    background-color:grey;
}
.center, th, td{
    border: 3px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.Download_Button {
    margin: 12px;
    color: grey;
}

